<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HtStaffMapper">
    
    <resultMap type="HtStaff" id="HtStaffResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="age"    column="age"    />
        <result property="sex"    column="sex"    />
        <result property="jobNum"    column="job_num"    />
        <result property="phone"    column="phone"    />
        <result property="entryTime"    column="entry_time"    />
        <result property="workYear"    column="work_year"    />
    </resultMap>

    <sql id="selectHtStaffVo">
        select id, name, age, sex, job_num, phone, entry_time, work_year from ht_staff
    </sql>

    <select id="selectHtStaffList" parameterType="HtStaff" resultMap="HtStaffResult">
        <include refid="selectHtStaffVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="jobNum != null  and jobNum != ''"> and job_num = #{jobNum}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="entryTime != null "> and entry_time = #{entryTime}</if>
            <if test="workYear != null "> and work_year = #{workYear}</if>
        </where>
    </select>
    
    <select id="selectHtStaffById" parameterType="Long" resultMap="HtStaffResult">
        <include refid="selectHtStaffVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHtStaff" parameterType="HtStaff" useGeneratedKeys="true" keyProperty="id">
        insert into ht_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="jobNum != null">job_num,</if>
            <if test="phone != null">phone,</if>
            <if test="entryTime != null">entry_time,</if>
            <if test="workYear != null">work_year,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null">#{sex},</if>
            <if test="jobNum != null">#{jobNum},</if>
            <if test="phone != null">#{phone},</if>
            <if test="entryTime != null">#{entryTime},</if>
            <if test="workYear != null">#{workYear},</if>
         </trim>
    </insert>

    <update id="updateHtStaff" parameterType="HtStaff">
        update ht_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="jobNum != null">job_num = #{jobNum},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="entryTime != null">entry_time = #{entryTime},</if>
            <if test="workYear != null">work_year = #{workYear},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHtStaffById" parameterType="Long">
        delete from ht_staff where id = #{id}
    </delete>

    <delete id="deleteHtStaffByIds" parameterType="String">
        delete from ht_staff where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>